@{
    ViewData["Title"] = "Página Não Encontrada";
}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 text-info">404</h1>
            <h2 class="text-secondary">Página Não Encontrada</h2>
            <p class="lead">Desculpe, a página que você está procurando não existe ou foi removida.</p>
            <hr class="my-4" />
            <a class="btn btn-outline-success btn-lg" asp-controller="Filmes" asp-action="Index"><i class="bi bi-house-door"></i> Página Inicial</a>
        </div>
    </div>
</div>
